<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>File References</key>
				<dict>
					<key>App Scope</key>
					<false/>
					<key>File References</key>
					<array/>
				</dict>
				<key>Minimum Application Version</key>
				<string>6.0</string>
				<key>PublishingManifest</key>
				<dict/>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGUlNYJHZlcnNpb25YJG9iamVj
				dHNZJGFyY2hpdmVyVCR0b3ASAAGGoK8QEQcIExQVHyIp
				LTE1OT1FSExQVSRudWxs0wkKCwwPEldOUy5rZXlzWk5T
				Lm9iamVjdHNWJGNsYXNzog0OgAKAA6IQEYAEgAyAEFhk
				YXRhYmFzZVRub2Rl1QsWFxgZGhscHR5eSWRlbnRpZmll
				ciBNYXBYUGFnZSBNYXBYTm9kZSBNYXBZUmVzb3VyY2Vz
				gAuAB4AKgAmABdIKCyAhoIAG0iMkJSZaJGNsYXNzbmFt
				ZVgkY2xhc3Nlc1xOU011dGFibGVTZXSjJScoVU5TU2V0
				WE5TT2JqZWN00wkKCyorLKCggAjSIyQuL18QE05TTXV0
				YWJsZURpY3Rpb25hcnmjLjAoXE5TRGljdGlvbmFyedMJ
				CgsyMyygoIAI0wkKCzY3LKCggAjSIyQ6O18QElJXUmVz
				b3VyY2VEYXRhYmFzZaI8KF8QElJXUmVzb3VyY2VEYXRh
				YmFzZdQLPj9AQUJDQ1hDaGlsZHJlblZQYXJlbnRfEBJS
				ZXByZXNlbnRlZCBPYmplY3SAD4ANgACAANIKC0ZHoIAO
				0iMkSUpeTlNNdXRhYmxlQXJyYXmjSUsoV05TQXJyYXnS
				IyRNTl8QEFJXU291cmNlTGlzdE5vZGWiTyhfEBBSV1Nv
				dXJjZUxpc3ROb2Rl0iMkMFGiMChfEA9OU0tleWVkQXJj
				aGl2ZXLRVFVUcm9vdIABAAgAEQAaACMALQAyADcASwBR
				AFgAYABrAHIAdQB3AHkAfAB+AIAAggCLAJAAmwCqALMA
				vADGAMgAygDMAM4A0ADVANYA2ADdAOgA8QD+AQIBCAER
				ARgBGQEaARwBIQE3ATsBSAFPAVABUQFTAVoBWwFcAV4B
				YwF4AXsBkAGZAaIBqQG+AcABwgHEAcYBywHMAc4B0wHi
				AeYB7gHzAgYCCQIcAiECJAI2AjkCPgAAAAAAAAIBAAAA
				AAAAAFYAAAAAAAAAAAAAAAAAAAJA
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<false/>
					<key>BaseURL</key>
					<string>http://miraving.github.io/minfinua.app/</string>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Us</string>
					<key>CopyrightText</key>
					<string>Developed by Vitalii Obertynskyi</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DefaultExportPath</key>
					<string>/Users/vitaliiobertynskyi/Desktop/web</string>
					<key>DefaultExportPathBookmark</key>
					<data>
					Ym9va7wCAAAAAAQQMAAAAMeNJBu/i9zig3bZ
					tuaaQbv8k0laFNJrk95HEQ+mnljKuAEAAAQA
					AAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAS
					AAAAAQEAAHZpdGFsaWlvYmVydHluc2t5aQAA
					BwAAAAEBAABEZXNrdG9wAAMAAAABAQAAd2Vi
					ABAAAAABBgAAEAAAACAAAAA8AAAATAAAAAgA
					AAAEAwAAbywGAAAAAAAIAAAABAMAAPKDBgAA
					AAAACAAAAAQDAAADhAYAAAAAAAgAAAAEAwAA
					ApQzAAAAAAAQAAAAAQYAAHAAAACAAAAAkAAA
					AKAAAAAIAAAAAAQAAEG8LET3AAAAGAAAAAEC
					AAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAI
					AAAABAMAAAIAAAAAAAAABAAAAAMDAAD1AQAA
					CAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFj
					aW50b3NoIEhECAAAAAQDAAAAAIIxdAAAAAgA
					AAAABAAAQbwbkuEAAAAkAAAAAQEAADcwNDU1
					NDRBLUNFODQtMzFEMS1BMDk5LTZFNEQ5RDEz
					QjgxMRgAAAABAgAAgQAAAAEAAADvEwAAAQAA
					AAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEF
					AADMAAAA/v///wEAAAAAAAAAEAAAAAQQAABY
					AAAAAAAAAAUQAACwAAAAAAAAABAQAADYAAAA
					AAAAAEAQAADIAAAAAAAAAAIgAACkAQAAAAAA
					AAUgAAAUAQAAAAAAABAgAAAkAQAAAAAAABEg
					AABYAQAAAAAAABIgAAA4AQAAAAAAABMgAABI
					AQAAAAAAACAgAACEAQAAAAAAADAgAACwAQAA
					AAAAAAHAAAD4AAAAAAAAABHAAAAgAAAAAAAA
					ABLAAAAIAQAAAAAAABDQAAAEAAAAAAAAAA==
					</data>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.php</string>
						<string>index.html</string>
					</array>
					<key>EmailAddress</key>
					<string></string>
					<key>FavIconUsed</key>
					<false/>
					<key>LogoData</key>
					<data>
					iVBORw0KGgoAAAANSUhEUgAAAPoAAAD6CAYA
					AACI7Fo9AAAABGdBTUEAALGPC/xhBQAAACBj
					SFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpg
					AAA6mAAAF3CculE8AAAACXBIWXMAAAsTAAAL
					EwEAmpwYAAADxGlUWHRYTUw6Y29tLmFkb2Jl
					LnhtcAAAAAAAPHg6eG1wbWV0YSB4bWxuczp4
					PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0i
					WE1QIENvcmUgNS40LjAiPgogICA8cmRmOlJE
					RiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMu
					b3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1u
					cyMiPgogICAgICA8cmRmOkRlc2NyaXB0aW9u
					IHJkZjphYm91dD0iIgogICAgICAgICAgICB4
					bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2Rj
					L2VsZW1lbnRzLzEuMS8iCiAgICAgICAgICAg
					IHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2Jl
					LmNvbS94YXAvMS4wLyIKICAgICAgICAgICAg
					eG1sbnM6dGlmZj0iaHR0cDovL25zLmFkb2Jl
					LmNvbS90aWZmLzEuMC8iCiAgICAgICAgICAg
					IHhtbG5zOmV4aWY9Imh0dHA6Ly9ucy5hZG9i
					ZS5jb20vZXhpZi8xLjAvIj4KICAgICAgICAg
					PGRjOnN1YmplY3Q+CiAgICAgICAgICAgIDxy
					ZGY6QmFnLz4KICAgICAgICAgPC9kYzpzdWJq
					ZWN0PgogICAgICAgICA8eG1wOk1vZGlmeURh
					dGU+MjAxNS0wOS0wOFQwNzowOTo2MDwveG1w
					Ok1vZGlmeURhdGU+CiAgICAgICAgIDx4bXA6
					Q3JlYXRvclRvb2w+UGl4ZWxtYXRvciAzLjA8
					L3htcDpDcmVhdG9yVG9vbD4KICAgICAgICAg
					PHRpZmY6T3JpZW50YXRpb24+MTwvdGlmZjpP
					cmllbnRhdGlvbj4KICAgICAgICAgPHRpZmY6
					UmVzb2x1dGlvblVuaXQ+MTwvdGlmZjpSZXNv
					bHV0aW9uVW5pdD4KICAgICAgICAgPHRpZmY6
					Q29tcHJlc3Npb24+NTwvdGlmZjpDb21wcmVz
					c2lvbj4KICAgICAgICAgPGV4aWY6UGl4ZWxY
					RGltZW5zaW9uPjEwMjQ8L2V4aWY6UGl4ZWxY
					RGltZW5zaW9uPgogICAgICAgICA8ZXhpZjpD
					b2xvclNwYWNlPjE8L2V4aWY6Q29sb3JTcGFj
					ZT4KICAgICAgICAgPGV4aWY6UGl4ZWxZRGlt
					ZW5zaW9uPjEwMjQ8L2V4aWY6UGl4ZWxZRGlt
					ZW5zaW9uPgogICAgICA8L3JkZjpEZXNjcmlw
					dGlvbj4KICAgPC9yZGY6UkRGPgo8L3g6eG1w
					bWV0YT4KInX6YAAAQABJREFUeAHt3Qe4dFdV
					N/ATiL0gFuz6xgJSVBTECCoXbCiQoDEYRDCh
					iqIYpCM+H4IkiAFBqgUD+tCk2UBQYyxYwYKg
					RoxGQFTEYO/Kd38b/jf7PcycOTN35t6Z8+71
					PDNn5pxd1vrvtfba/Zx2s5vd7Oqu6667/3nX
					/ged9u5L+24INAR2GIHant95+r4gMfJm4Dtc
					qo31hkAPgdgzg7/utd7zMDd7YdvfhkBDYMcR
					KLYdQ99xWRr7DYGGwBACzdCH0GnPGgITQaAZ
					+kQKsonREBhCoBn6EDrtWUNgIgg0Q59IQTYx
					GgJDCDRDH0KnPWsITASBZugTKcgmRkNgCIFm
					6EPotGcNgYkg0Ax9IgXZxGgIDCHQDH0Infas
					ITARBJqhT6QgmxgNgSEEmqEPodOeNQQmgkAz
					9IkUZBOjITCEQDP0IXTas4bARBBohj6Rgmxi
					NASGEGiGPoROe9YQmAgCzdAnUpBNjIbAEALN
					0IfQac8aAhNBoBn6RAqyidEQGEKgGfoQOu1Z
					Q2AiCDRDn0hBNjEaAkMINEMfQqc9awhMBIFm
					6BMpyCZGQ2AIgWboQ+i0Zw2BiSDQDH0iBdnE
					aAgMIdAMfQid9qwhMBEEmqFPpCCbGA2BIQSa
					oQ+h0541BCaCQDP0iRRkE6MhMIRAM/QhdNqz
					hsBEEGiGPpGCbGI0BIYQaIY+hE571hCYCALN
					0CdSkE2MhsAQAs3Qh9BpzxoCE0GgGfpECrKJ
					0RAYQqAZ+hA67VlDYCIINEOfSEE2MRoCQwg0
					Qx9Cpz1rCEwEgWboEynIJkZDYAiBZuhD6LRn
					DYGJINAMfSIF2cRoCAwh0Ax9CJ32rCEwEQSa
					oU+kIJsYDYEhBJqhD6HTnjUEJoJAM/SJFGQT
					oyEwhEAz9CF02rOGwEQQaIY+kYJsYjQEhhBo
					hj6ETnvWEJgIAs3QJ1KQTYyGwBACzdCH0GnP
					GgITQaAZ+kQKsonREBhCoBn6EDrtWUNgIgg0
					Q59IQTYxGgJDCDRDH0KnPWsITASBZugTKcgm
					RkNgCIFm6EPotGcNgYkg0Ax9IgXZxGgIDCHQ
					DH0InfasITARBJqhT6QgmxgNgSEEmqEPodOe
					NQQmgkAz9IkUZBOjITCEQDP0IXTas4bARBBo
					hj6RgmxiNASGEGiGPoROe9YQmAgCzdAnUpBN
					jIbAEALN0IfQac8aAhNBoBn6RAqyidEQGEKg
					GfoQOu1ZQ2AiCDRDn0hBNjEaAkMINEMfQqc9
					awhMBIFm6BMpyCbG+hB417vetb7EtiSl07eE
					j8ZGQ+BYEYhxn3baad21r33t8nHvf/7nf46V
					r3Vl/l6GHoHXlcHYdADc6GQEjqsscHEqlEfw
					jXFf61rX6nwY+j/8wz90//RP/9R9xEd8RPn/
					f//3fzuNyUmGTuDTTz/p1smat8F///u//9sF
					+A1ms1NJUziKdxw01fKIjvWN2///+q//6t7w
					hjd0//qv/9p95Ed+ZPcFX/AF3Tve8Y7u3/7t
					37r3eZ/32Wn9fC+rBgSha0A2qWjJj0JTrkbX
					IKAcUDC65sn6f9Xlnd/rz+XoU6xloWMcGVyD
					LeP+y7/8y2LQuPvar/3a7ra3vW13m9vcptx7
					+MMf3v35n/95d9Ob3rT7l3/5l2OreA+L3IGh
					8x5/93d/1/3FX/zFYdNcKf7HfMzHdJ/8yZ9c
					+kRHodgrMXmEkSjk61//+u7f//3fjzDXa7L6
					hE/4hO7jP/7ju//+7/8+MIprnm7vr9qwGTMc
					GXgM23OYXnXVVd0//uM/FkHOPvvsYtw3u9nN
					uk/7tE8rzXXx3vSmNxUvL7w06rS3F4HZnJ0e
					Ad761rd255xzTvdlX/ZlRaj0SQLQ7OiHv5v0
					f/7nf7778R//8e7EiRMlf949zw6fy26lQMn+
					4A/+oHvIQx7SnXnmmUXBUh6blEQeKnzY/+qv
					/mp3ySWXdLe4xS2KsW8y38OkXRsfXU53J7rj
					uQE1/e0//dM/PciKrn/hF35hF+P+qI/6qPfq
					tvL26P3e7/3KNWmWPzv2VQxdAb/tbW/rbnKT
					m3R3vOMdj0UEfaKXvOQlpbn0iZ/4iaWZtMvA
					rgKicvjgD/7g7o/+6I9KU/HOd75zd+Mb33iV
					pA4d55//+Z87/Lzv+77vQSvr0IluIAF953hs
					Ru2jFaKZfcUVVxzkeKMb3ai7//3v39385jfv
					/P6kT/qkA899EGj/B5l9VLbRP/93nQ6a7gQB
					2HGRSuYbvuEbuosuuqg0GY+Tl+PCQL4U9+//
					/u+7hz3sYd2nfuqnFlYob5TuqHjbFfwZ4X/8
					x3+UZrjmeOiMM87o7n73u5cK84Y3vGHn/8d+
					7Md2H/qhH5ogB9dUEDD22RXZDwQY8eN0QBFU
					04Unueyyy0ot/gEf8AHdda5zneJhgPOBH/iB
					JyW37lpO+l/+5V9eDN1IJw9vtHOKoJ8E5Hv+
					KAOY/9Vf/VX3YR/2Yd2tbnWr7v3f//1LM5ry
					eX4YqtOoMdWs5b01bU0pwVyf1PgA0nw9bN6H
					4XtWXPxoov/nf/7nAZ88tW4no/70T//0YtjG
					fegw79wnafjABdWYbJu8fd5X+V8MXcQT+33j
					n/3Zn+2e9KQnlXQMxmje+PAsN7jBDbrP+IzP
					KL8//MM//ACYGqxVGBAnwBrZvN/97tc94xnP
					KBVPDf6qae9KPBUnw9bcfOhDH1oUFu/r8jAw
					rvH867/+6+5P/uRPynTSH//xH3d/9md/1r35
					zW8+aO4alNI/Z+gxhm3AkhxaPSolHvppT3ta
					95mf+Zkdo+YcdH08n0Xi+kSeGo9Z4ad076Cq
					o2hAAhow9HPe8pa3dK997WtLYUfob/zGbyz9
					+C/+4i8uxgi0GryEW+XKk93+9rcvhm5E9EM+
					5EOKd5l6gcDPgE9Ggff29opXh2GUchU8E6cu
					n7e//e3dq1/96u5FL3pR99M//dMJ0n30R390
					adYaE4A3L7iNA6Jk0fL5rd/6rTKYprs3qzlO
					sLQ6g6Frfh8Ifor8ODB0AGoO8Sohq4IMjHmm
					iadJ99znPrd7znOeU/rTF154Yfe5n/u5Bbxa
					mRJ/mWvia4Ld5S536Z7//OeXgjwVCoZC6rr8
					0i/9UnfBBRd0n/VZn1WgY2jK5DAUXKXxh3/4
					h933fu/3ltkNXbXP+ZzPKd00ht3HWUW/jYZO
					DnwhfXNz4Cop+qmyNHgIy4y+C1dj4P8QCTtF
					OjB0BU3hgFcD4z5F8OFhTff4bSrs137t17rn
					Pe95ZQWRcHW8ZcBKXHEU2llnnVUMXX9RwW1b
					83EZ2caE5T31N5F+5sd93MeV33A+DNVKq3mu
					W/Sa17ymVKDK2nNGw6jj/eoyVC7bRjChFxyM
					6bIHPOABpfXBuHl2FZg++md/9meXWSQ6G/0a
					I0/Cbpvch+XnwNCTEEH7gFCG1KKeqS0ppLlv
					o+Tf//3f333Kp3zKyoaevKNklh7e7na3637l
					V36lFGjmMxNuSle46rJcfvnlRWYtGuT+Yb25
					dJSXgbZnPvOZxcj39rsFKpVULAmTMs/V/W0m
					Bs+LW+BFFpWVQdyavv3bv727z33uU8Y7yBX9
					qsOcKr/fy9BnCd4vfKAaDLFMUD/vTne6U3fi
					PQtdeIZVPFEKQv5WyH3N13xN93M/93OlEA2u
					yLPPxyxed+0erCggMj4BR3RYWWul/t3f/d3u
					KU95SvFy6YKtoxIpjB7TF/lgZxAuWPHkNXFA
					v//7v9899alPPViPUONSh83vlEX+T+W6UtsQ
					wLxsDPo3fuM3OoM86LBAJb7BPt7NQh6GnvtT
					AZ4cKsUP+qAPKkstDYJpyZB11cpyFjbSouzI
					+EtdbrPC79o9DoBM+fivNURu07VaSsaVOKba
					meyanIfldyVDlykjB6qRelNCV199deEltesq
					jNVxTemdd955ZV6ZF5qqseufq8xspjCFuW6y
					EysLSXhxRlDjvO78jjs9Bk5fNOf15c0iGYC0
					RgQdRvZddjYrGzrQgGpOXd/IIN66CKAM4Lb7
					u4gMTFkpNjVDh51por/9278tsGnBqDTJXiuj
					/8sqWB1eubzzne8seaic62frKq9tSgd2Pio1
					lRz9RNYJkN0z2K9CdbmsEv844xzK0AHHICmT
					WnQdVINpldM973nP0rRVOPKaiqKSQ1Oap/nm
					b/7m4nngF2Wsf9eYLIux9HjxU5UyFmGBkOnh
					U5UOZeizQDuMUvbTYwhf8RVfUW5bpjkVr874
					zPkaDUdf8iVfUqaF/K7x81tYlZxro9URsMlF
					VxOtiuWq8Vbnen0x127o62AtCi4ti0e+7du+
					rSzV9D81tN+7SgzXvK9Vh7ZL2iqJ6v5zlEq3
					xUBnKoDc31XZj5LvGitGXv9fhY+UwSpxjzvO
					kRj6YQC24MG0E9L02nWvDgsyZB7begH7CVBm
					MYSJUlnNptmJ6vvlxpyvxJ3z+JS8PRaTseF2
					DcSNGnoMfFXwEt8qqLvd7W7d7/3e7xUDWDW9
					bSiceHNz27e85S3LSkPyuB+5/EZmMkwPBYdc
					t0GOxsNuIbAxQ6eUFNf85ioj8lF6cNqVZFEO
					0gTbZa+ekW+YOOSjv8gDbvHsBuouvfTSk/Yf
					FBDa18YQmGplulFDVxoG0ayzjrHHW40tqQD/
					+Z//+aUJb8kjQ6grgrFpHXe4eHO7Aq3o+qIv
					+qIyKNf35mTTtP/lX/7lsnXUbEOjhsBhENiY
					oYcpg2e/+Zu/WRaFuBfDzfOhK4VPeAcVnnvu
					uWXO3qDVrk614Vtl9fVf//Vl00XkT8WV65VX
					Xtk99rGPLeu0g0HCtmtDYFkENm7oppHsMtIn
					RQx/Ga9eG7vD/ByGYBR617w6mS2QMYqOLAZy
					+gkjjnELQy5rElSOWkHW/S+DV0m8fTUEeghs
					3NApsT71C17wgrLeWP7LeKja0E/sb/gwKJcj
					qVUay6TVk/1I/+LTlluj6A5LMMCIakMPQ056
					yaEQp/Jil+BxlNdUukeZ51HktXFD541sw3TC
					6xvf+MYi07IGGvDF29vbK4dHOo0lg1ZHAdRh
					8mDMWjaWZCKbLRyDhCJbvLl75tdf/vKXl7Xv
					q6zm2pXKj6yNjgaBjRs6MTKY9Iu/+IsHq8GW
					aY4yhoQ3Su0ABSPSDH3ZSuNoYD05F7xb5fc7
					v/M7ZRWcwzuQ+zH0GKcNLj/zMz9TnpMtcpcb
					I7+S5sjgLdgpgMCRGHqanz/4gz94cPjgsgYa
					5eUZeURkd9K2e3UGrOuS5Zd3uMMdygml+I9M
					wsADOX31x37sx0of3ptzyJdwJcCIr1QaI4K2
					ID0EhrAbetZLZuv+Homhxys5yti5aGmOLgMc
					ZU86Nrs86EEPKvusGQhjWCatoywFPPPmxhWu
					f/3rlyk1LZzIgpf8tkDmVa96VWFPf15FhrZV
					tsJc+9oJBI7E0IOElWCOk/bSOsR4l1HieDbb
					ObMslqeMN0w+23QNb5ax2nPuyOxQ5E8Y3RGn
					ohioy3JfYSN34rXr8SCwy+VwpIZ+3etet/ub
					v/mb8l4vBhpFH1tswsf72exyr3vdq/R749XH
					pnNU4eLNNcGRKTUnyqjcojSRx+4qrR3kkENT
					bAmzTGVYEtjhL7IOfXZJtCE5jrpMj9TQGbfR
					ZsdFm0JCyxp7CtqBAt6CiYC2jc13sqmEvCjB
					vnonk4bfyJ0xBgcjPPGJTyzvBePNY+TC179L
					Agu+lg2/ILmNPo4x4BlWujlabD42NPn4rYL0
					LK2fTRnKYbCrZdE9s26iliOy2Lmoa5ayT7xN
					An2kaysZujeAeFOnc+bO2H8fFmF5tbEACwcY
					V2fKOUTSabSODMqg3yYBG5t2vHn2nNtXb80+
					iqzCUFzLXWHiXDNnrTsRhiKsSpsyglX5mReP
					7ORkFFowWjVX7b8/LecP9uN5e5DjwBk9DO2j
					oFPL6E8/zXX8hzdZDBSTBU/KXeWd8ah+PuyA
					s1IRoE3LcqSGTiAFqkZ74Qtf2O3t7XUKbxlS
					wClY68Uti33pS19aCl6lwdhjSMuku4mwRttV
					aMYTrOhD4T2VlXteQuCcfMt8GT3+a2Otfwu/
					6wSXrCvwboCaHKllVoU35MFhYYWgNQgMxxta
					QnSHs0AMKtjm+SrXZbAWliz4xGNfFluQtWA9
					V6ExZuVrDYg1Jb/92799wGJefxZ5163HR27o
					BHXQgrlizVmFFa+epsyB9HN+xBBczUnbHMJY
					GIrCPm6iAAo2G3lMqWXPOZ598Bm5Ka9CV/Gl
					BSBMqP6de0NX4ZdR2KG01vWsNgrn5OnOIK+G
					trSZh/PyBeM4PDYPCZ9gxUHYIGUJsdkb74/3
					aiktIeQEXXEYvLzEWxa3ktCIL+nLS2XEaFP5
					GGwliwFXLQ+yCCNsykS5M3jxzLJYN2G1pKPN
					U1HQaZXDuiovIh25oQPJB73sZS8rbw1VwMtQ
					Ct/VK6Msi3VQv3Xh29KUY+jW+GuKK/ya51pW
					SvviF7+43KLM66Dgu460DpsGXsiuicpQGYUD
					P5/whCeUsj+xv6xZE5aHX0RacNnWqyvkPYDW
					HfzUT/1Ud+n+dl6kRcCQfNaNQ9JjvMrKC0bQ
					d33Xd5WBVrx5jdkYWTglJE2enyx2eXrR6bOe
					9azyjN7w7GnllZsrfh25oeMT46banLdt3be3
					vsS7LevV1ZY8uuOhnUZrowhjPy5ScOlz8lzf
					8i3fcqCcFD4GHzlt9qGoZDBv7nkU6rhkWFe+
					wYJ3ilGYXtU092Yf9/uUFpm4sKgp+Lmn4vBR
					7gzi677u67of/uEfLkutDXqauVCxrIvwQ9fk
					6Zx8HvmRj3xkGSNyTLdWSE3C5+N+ZIlckcUV
					rz5aNeyCLF51Rh5pX+961ztYPp106rzG/L7W
					mEDrDpNmq3Q14YG2LBEYaEg/zbJYNSJPuioY
					y/IwKzye1OgqHVdTaq7htY5j2o2Ro1qeOsyu
					/lbG5FahMXIe69d//ddLOd3oRjc6MHLh8oGR
					8D6MKr9zDUbC83TBVIuQV/Q2GsahWa9Jb5R7
					HbrAceiL0y1nBGha6zZ4vbU1DzHyyOGKIkct
					S357jv/EiSxaBN6A9LjHPa6M26j8I4v0Ek78
					ZehYDB2Dmlaf93mfVwrnDW94Q+F5WUFSiDEo
					iejjAvO4KDK86U1v6u5973sfHOOMH/wqWGGQ
					vtmzn/3s0r/UH4s85eEOf5HRgKsxCtttvUDh
					4osvLnKm0ouhwiKfIfkpeJRcuGAoL2khXYLz
					zz+/9HWNizCQtBoSd1lYxTOgJg8Dq494xCO6
					pz/96aUVqiJBnuEDX/m4X/Psf00JF9k9k4YP
					Unnd9a53Ld3br/7qry4VTPr7CVMCjvw6NkPH
					bArBss9VlnsCK0JbXvqoRz2qNKso03EQXuSd
					JiMvo0k2i1RI9XLXKOussLt0DwaMXCvNGX+6
					Z7ov+tcocqqMld8QxVBipDGO/pWxxNike6tb
					3ap78pOf3H3rt35r6fPKIxXDUH6e9XliXE4E
					unz/7L4f+qEfKl5ctwMlT2n3earT6ctRIve+
					hI/RwzB6beD6kksuKSchq7jol9ZFnveSmfv3
					2Ayd8Lz6TW960+4xj3nMwWYXwqZg53JdPQig
					mk/Z7MKTjC3YKqlD/0xhGSAy7ZdjnMnjmWv4
					MurM0wkzy5svg8GhGV9TApSPYai0tdKcQeAk
					HYYf5V3GwLEFt3xmsZlnSTcDmoxRH9opPSi4
					z0pj3j1pp1tpm/Xd7373UnGThZHLU7rhoZ9O
					7ufq+ZhylaZPjPmM/a7pwx/+8O7CCy8srRXG
					bhxoTFrh6VgG4yIwsAxuIFtYvWhQP4gAwBlD
					wgEEMDe5yU1KLf4DP/ADB4NbY9JYRxg8472e
					UosXS/qRi2FnuSv5LRTp01j5+/H8F3cZJZiV
					xrL3Ir+y4MmNglvMxBiUcwxiUbrhO/JzBgY1
					3/rWt5ZxD/PpPrA28GoRkhFszWv3GID8xDfF
					xasbCzG7kTSHeEj+wkhHf/9FL3pRkcU9FYk8
					QioCadvLYLpMWconq+B0J3z0vZM/jPzO/6TV
					v8bYhaNLD3zgA4tT8ApsswtwwO+idKR7Dcf9
					XDb8H3OYBJzdaM94xjM6/SpzkAQcK0DNpgMu
					pMHQA2ZdcHXYdf+WDwW4an9ll5FTH5T8a3ls
					6jFwZFDKDMRUSFfMYJWpMy0aTUzGwtjHUI2R
					ytDo9uX7TWaDeGYnzDn3iaFbjGQe/da3vvVJ
					g2Py1nX6ju/4ju6yyy5bGmu6yciz1Lo2chXP
					a17zmjIOYA2EswZmkRkAKzgZptkBLY0YsPCL
					jLQOa80JY5e3Qey9vb3S4liUhnyOzdBlrmAV
					htrOYgFKYi6SYtSFLuwQBQxXwJqys9IMsBRm
					04RXSm101qadBz/4wd2J/fnhkIJIq4OyUBBK
					S9ZZ3jzxduWqDFWyjPKCCy44qbmuTMZQ8BHW
					Cjjl9+hHP/ogquarZc4q0+gHvOH3ile8onwE
					1sS1roLzSDhrLbQu4omHeFJWMRxTd9LRUsCf
					+CrmX/iFXyhz3TnuS2XDQanohIlea43Qhx/5
					kR8pH8ZuvCJjN8KN0fPoN77ojC3aZjKMHWjJ
					wGBRZXqshh4DoCgn9g3DgQsWQvjt2RgQDjTh
					PT8014xSUpQUWD/Muv/jk6FrIspfTZsCT17h
					ReHgjfJRhF0nBmB8xCYl3ooia6qm7CL3kJy1
					kavwjWwbeDKHbDFNBp+Ek66rdPVVeWyejtFr
					Rl900UVl6sv4h6lN4YTPCHn4GuLHM+ESJ/zZ
					i/CjP/qjxasKY3zFmARDpMPC+SCVA1w4MQPF
					HI6xG3Pk3/md31mmGYPTGJ5i7K4qDOsRrCxV
					ycCB/ENYj6tuC+ub+SIkL0donk4zDWHas7EU
					IITXVFJrau6pZZdJZ2x+CSdttakCthLu/P3p
					nf6ec89SCJp5lPjEfmWmcHad4K5S0x2hwFYC
					olrmIRnhJw2kRcAQ4EOZTTHRDbMY+qOMhUeF
					m0rSf/c9F86SU833173udeXILstKUa0bKYfy
					YOAr+seAxVeJ6BJqOtsiLR8VkIFH+buGN/z5
					7R5vi0cYiaebYYDQALRKP/mM0VF84Ecc+yfu
					cY97lJWGY3T82A0d05SCoGpvfaK8a8yzVcjg
					zHnnnVcAVhibJHzLQ2EiI/9GmWeRZpzR2xTY
					mMKdlc623KN0vJ4uV73C0f1FTUky1PLrj9/3
					vvctXRqemBEzkhgazHzoRD65FzxjWN5OK3/d
					iKxDF6fObwyGwktHJWKlmqWu1n7oppgeZczS
					DR/hK9f6vopJhcDgVRIG1J72tKeVtfvCjeUt
					YbUcYU732EtmNubJdeyGngJXoJo4P/mTP3kw
					sAEwlcBYEj6FY3DGqiVHOI2p8cbm0Q8HePlq
					lln91d9zjn9hkNHon/iJnygrq9T6Ywu3n+c2
					/Mc7Jcssg4pVExrBYxGJ7yMsRbUXX4tob+/d
					A0yMi5GNSSt5xghsfFFZqFidUyh96SyDd3iT
					tlamd9jrH2eNgLxSrotkrfmL57fk+fGPf3zR
					B7JKa4yu13J4e5HVeXBbxM9WGDrma4Ow2SUv
					OqgFWwRoHfbEftP4/P1mtF1t+jCbIMpA2dPX
					NuKvTzaL7DHP4E3kdd1VUl6mBq1844l1l1A8
					8Bi5KCcMLQM2PqNy5slrXRiTTh0GptLVnzYY
					a+WhrgBKfnX4eb9j6NLRykS6l/HK8+Ituq/y
					UjniU8Vh+m/ZVkf0R6XzlV/5lWVATjfAeMG8
					ymIrDB04GKQkFObS/TlYTTm0rDEIr5AMhujn
					6beZh/Xf/XUT5THd8aVf+qUHe86Tj6vnyP5j
					U4j6aLvuzcmjgmOUSH9RUxJF3vJnzlfw8djC
					GktKdbc0a1WaY9KYk3S5TQekkwrewSS8O5pn
					COXhe77wF73Dn1YBo6SfNe91nGV+M3ZNf1uX
					0y0wkCvPMfyFN3lqQXJoV+1P67o/D7utMXRM
					A5JBIvOEas9lqQbLbiBzqA5dVNuto5DCj7Qo
					Jp4p0TnnnFNG0vMcH8lPc61e7jqmMJPONl7x
					b0SZN7cH2yATgkWthEO8C6fCsy1Tt8cW43i6
					oXhjnzEmuJse07/O233mGUI/3egRh4NPLbX0
					yfthV/mPD2MQ+vwquhxCge/ozVC60S/lsLe3
					V4LaSKWbOku/tsbQAywmLYt1Gmo2u0SoIcHr
					ZylMIOirIaOmvNA6SaFo2plv1eeq+VRY4UMf
					ykir2jfeXNhdpZp3W4yzt7q+P082uESRzZd7
					I41BWJUm7zYmjXlp1/elw6ubfmLwy5xRGP54
					3RyQwQEtU5HVvMz6jT8VR6bwVHg5QmuWofbT
					ED98Wl9gqbHdm3RyFm2NoYc5YPK+iBfMYE+e
					j7kCQTpIjW4Bi6k2hj8GxEV5ADiAXnHFFWUQ
					TushVBcCw85yV4WKrxRQwu/SFe+8hmWfFmuo
					lBkpXFOxLZIn4ewG0z9VUa7TWyZ/POENaXXJ
					A43FXyW+TAVREl/iCw4qIVOSunV2M6JlvLrw
					yoGjQeyFQ+vLuFWGXhuo5aGmHxgSqo2n3Fjw
					FWUyFWIRDtKnTMEviL7wscJIH1X/PP1BEYGM
					X6TvZEDIjAKPVT8rAXbsi/EwdNtw73jHOx4c
					kdVXrHliJZxxk1SAKnbeN5jNi7vK/aRpHfoY
					Qw9/8lK+BoXTnVwl/6E4eGOYxpGQrlCmaWs+
					htJION0n3Qt9/VnjUVtl6BGI17PiSZ/DZhcG
					siwBMV5d08becECuw6urRHz030y7qJQQ0OVb
					X6300gXRhNx1b05GcgdXK8PIhWJQ5c+cr+Di
					sYpCc5U3X0cra1aWMQLPVCTL5iM+WeM0ZuVx
					2Htwo98qT4OGRs+Xoch4xv4SYWs4jEXM4nfr
					DD2CY9aSStMuebMLACLYGDCifI7iyZtdgDoL
					iDHpJX/ePJWPdO2iqin5at7aqqlphW+Klmd1
					+F35TQbeQpMW6a5oIbk/Vi7hhNdMNeWootiU
					N18HrrVsfq+b6GKa7xYeGc9B7i/KD5bBHY5Z
					w6G7mHIJv1tn6GFMTWoJJK8JgBrwhFl0BVZq
					cYtnjBDzsOZ/c39RGv3ngJWugaQ73elOZVGO
					MOEvV/eMpDpyyIjyFLw52Ri6rZsGOc0ro1rm
					cmPOl3BIM1oaaMw67RJwC75iVOtmhdPIakqt
					vzTfl9FR/fKME6k4+l3UrTR0gKqVeE7zsxYs
					ZFAEyFGYZQA3MswwQ6sUmnzxhCirHVHZc97n
					SbfDwh+kYmDoq+RZEtiSLzJGgXSH0mzvy76I
					XSvVDI7OO31nUfypPacXaSFaPamfvQwFfw5F
					K5hu7oxHJ6gazS4v2wLrzS7LgBCv7mqxCk9k
					pHeVvroCkQ4jNlJqJRcCtGe5uqclYpeaedIp
					eHMyRUa/KVWmhtxfRDU2+qH2byvbKPii+Ef1
					fIws6+ZFnrovxnrshcjiHroWIx6TpxawDVXZ
					LFPH2UqPjkHC8+qadmon3tFIbWgZABLnxIkT
					5YUBRjrjmfJs0VV+gOfRDSTZ80zZUa3E/lvo
					Y6AJaVIx9CkQ2SkkMu6RmYaxxiEcrMxEIBWF
					Mh4bv0Ta8NcqenVYlsgPV+sJ5G9sBwWvofRr
					7LSQ8qIQTrJ+trWGTjjM+mgm2gyS1UO1AEMg
					5BkDlQ6jc/KLI6euvPLK0i9apmClk/7T3t7e
					wQKcFEj4yuuPDY5EhjwLT7t2hZPKMfLzHstQ
					cBY/3TD9/W3r0hxXOdETeCAeeZX1I/r5WbwE
					V/oauuZX7mzRFaNqugxU2BRipDYU5cn/oWvC
					GrBwyB9l45Fyf1FcvFB0TXI7hsyLIwUUQ/ff
					XK0BOITv4/DmY2QqDC7xJU3yW2FoKsf6BBT5
					xyZltVkMHaab4HUsL7PCbQM/9k4YUEPL8KOi
					yKaqGHrib7WhE5QiYZYXdtyuwQq0bM0bpbI4
					w2YXRm5QyPxlwCgJz/kSP/1JC3D08VGMPPxo
					1uMzh09sm8eaI96o2zAw0GOANJXvqIhVIIae
					uWK4j8G+ij7pn3EKDN06+GWJDmbxTQazk8bW
					Gzrl4tUzQvvKV77yoPkYIcZcgaDSQIzQslhr
					gxl+7s9LR1zezCCe1oCuBKq9mTAK6vL9U1Io
					Mo+XgpuX7qbu42UTJF0enddI/3xMPrUxm4OH
					j4G4Gr8x6Uw9DH3RT4dPukjLlmUcEKckbrDf
					ekNXuADAtOZyvSbYswji9yJSaSALXIy+I12B
					oSa89MUL4GedddbBtJL4df72vj//+c8vSixO
					wBZu1yk4kIPXyH6EWv4hGYOfisJgnIG4RRXs
					UHpTewYfeq61ZIwnOzfdH4NxwmihothMcNoJ
					Qycsr86TqOksFVxlE0TAJDyvbNO/rsDQVJs4
					vDkj9k4s02UIsJ6hXE0B+lgJB+ipUeRUMcJk
					GUpcho6k0VfGZdKbYlgVH0PV6slgXHAbK68B
					Z9TXv50xdN7R9I4mH6+ZzS6ESm3m9yKKV7fY
					I292UXkYyOinE2Om1PpNjkvKqGaeJT/9fVOA
					Kg3hp+TNI2OuymFZBUzceCp4N48eVN7tLOAR
					Q82GqWtCjPulAtVt7OvfThg6ESkWr27Zpb61
					nU+reATppLaz6EWfe94CGmEpdQagvNPL//BT
					G7sFIC996UvLEcXu+0yV4OKzLMEkO8hUuNuI
					0SpyLYvDvPAMXQWIMuru9zI40U/G3q9Ed8rQ
					jSQCQo314he/eOXNLvHqvLMzt5BKZFZzVH6O
					gbr//e9flhcKC8RaIfTzs0BG02vbFoHgeZ1E
					8ZZRvuTNy2SQKYZe45hwx3ldRa518hs86NAq
					BGOVRBxS0tgZQ8cwEBik87tsTsmhfwEnQi26
					Ch+vrs9tX7Uz5W12yX1pACt9JUcIZwBKfAqR
					fG3QcK5YRuPrNBbxsovPKVPfYwzJEeOhvPFU
					DH2ZNIbSn8qzWqdWxUaLSfeI7gZ3+Oykocfg
					HA2dxRe1UGMKPkZ6Yn9ZrJF0BNy6JuTNNcl5
					88yLC5O44lDcnAenolAR1c+FmQoFY5UfY1+W
					xI+n2laMjpuv5A+r4D0G58QLvrUei79Thh6B
					CaN/7Zhgh0kUQZbs88WjAOTMM88sS2Nz3BSP
					nKaltDXvsxDB/7oAjBd4TY9WhjjiBnRhp0Jk
					ipepR4WXkQ9uSWOZeEcZti7bo8w3eSV/eK+i
					RxkD2WmPDgzGxKNk55TTYrPZJSAFtLFXRmqv
					utVI0gcwb+5MM+9xcy4aoqSeI2F4NSfgyN/U
					nwpolcIpCe7AF3yNjzheKV2aZeQVP4a+TLyj
					hOY4+ZJ3dLjvkcdikBV1xptgHXl20qMTmpFZ
					FusEmte+9rUFB0YYoMYAIzwwjFI67J/BO81G
					EzzP6j3n/TQdPmGzjZkAwE7d0LVWrNyyjTJ9
					7T4mQ/8pXRRvmXIaSnPdz7aFr+C0jHx4z14Q
					03SpVKWxk4bOCHkUSoe8TC/HG61aUE6LdWSu
					Pr8xAAtkeHKvvUkFAnzppxC8ulYlY/R+6kZO
					ZoZuKTJsrFlHwab8WfAljVU91YKk1/Y4Zbu2
					BJdIKBiLokUZGssTHYwd7HzTPcIzODUWL/zU
					pz617CrzDCjLGHvC8+JWvqHssDLHnv29tYEL
					o0IwGKjmNKU25UE48sJJKyqbWfLKLM/Gkkoh
					C0L6eI5NY6rh4AEfxoqyZn0ZeS2ysXALMfR6
					vGgnPTpBgEKwHOVkWaw52hiuMGNI+DRxHJnr
					zS4G+KzAyy436SRdVyTMK17xitJ9WGUEuiQy
					8muZimtkkisFozi6OWiZc9KDGSPP2ArMc38l
					ZjYU6TixhkcMPTgv4sfzhMk+AtD0W1o7a+iE
					oXjIWzwti7WwZRUCCjKy7s0j6K53vevcPefO
					9DIIiLQEjHQmjXJzzV/bYhAUKrw4BSX99Cja
					IrGNY8RTxduMjbso7aN4vmleYRunMWvx1jwZ
					Uyb65457zqnDdfidNnTNE179xP5cOAEti9WE
					ZnTx0rWw834DKpWGfvne3l4ZnIv38bxW8te9
					7nVlENBgoHibVoB5fB/1fTgEV8cSWxq8LMXQ
					KfQmK8dl+RoTPgY1JuwqYegzTJ2Xz4GgWu/m
					pRm+VL6cnbGr6HPi7LShE4LCAIhRWmteb3aJ
					kGOuUTpHJHnhfc7IThMzgOu/G/xDppo27c3H
					8H5UYSgUeQ1cWvKb/iDsFlV2eZ71CAZTlVvu
					H5UMi/KJ0SwKt+7ncIDH2972tpMO9hiLDz01
					C4RUEuyilmXnDZ2SaUJafupMOctiCT1G+erC
					CijieY9VzixPOnnuxQNOkMkZ2vFwdVpT/Q0D
					LSZrBniMnBQTbObJ7XkUlqHD1nwvxd42Cp/H
					wRddQ/akZ1/5Ij7CLwcUJ2fEfnKGTokMYGQ6
					wmq5vNklICwCq/9c/ygGnmfy4YUcPa1iURj+
					p3ASbupXBh6srQrMNNvYCk+zUiV51f7hE32M
					twG7RZXWJnmMLqkI08UZyq/Wby0BKzsdqlJX
					rIm/8x6dIABifOa8rTvPGfCrKhIAfQJYAPUK
					XbvmGDlv1O8HBdQpX2GS/rWNQBQMjTUQ3Z0T
					+2MqiTM2Xokw8a/omcG07OdYhE8qB7ppJgi2
					HF8/3iQMnVCalJnjNe2VZmXAW0ZHpFcDBUxG
					bYGMV+acsX8KqkHAOswy6e9yWDKT3a6/yy67
					rBybTZ5FlWqwYujeJoJSYZQ/G/7CX3gYyqrW
					F+HFG9taGUp30TP5ZGrNlHFaTWN4Vh45NNVY
					1aw1HZMwdCACisDesfbCF76w7DrL/brwFgHe
					f564ugMWyCBznLNqzX7cKf6neAw0TUsKlvXV
					YwxC39MbVJGuj25SMF43XrWRyKf+Py+vOozf
					Wm5j5JqX3pj75LfGIKvaeHS0CJc859Rs206X
					cxa/kzF0hUJx8mZTTfi3v/3towArgWZ8AVIF
					gnQHeDCe7FTsm/fhUdGZoXDWvv42qo2k3Oh9
					RTEZun7ovHd596Kt5S9Pl1V5i/hMhsKr0OJp
					c3/dV7jw4FqLdkrqGiL35/Fa66bp3sv3Tx+2
					4GuWN5fWZAydMEAx/WME3kEQac64HyUTbiwl
					jvlJ3QGkezAPzLHp7no4lZ8xEdNsZjocvBHF
					m+VNyFuXgWXFNhFZM5+KdFOYpAyt0Y+hj81L
					WZth2DThkTdGpnWTZ3iflX+emXf3tmGkMqP/
					syqHSRl6FDBv+TRCrjlUK9ks0GbdA2SU0OET
					3uiqEBh5o5O37HozTQblooCzMIoC8lg5TZe3
					1DweijcrrTH3lF+8sbGBGFP4WJQGQ8+rp/A3
					Nt6idPvP8ak7hCzCSqt0Xn41L69//eu75zzn
					OWXPx9Dg8KQMHVDAYYw2u/Dq5r1zv/wY+RXF
					s3kjr1iiLK3Z/m4AKae9Bd4o+9znPrfTfESL
					jBauDM7qLwRf/fbgXW6u4Sv55Iy6VP5jko6B
					MfSsp8jA4Sb4JL+9Awbh6K385RNH0+fZM2GM
					jeii0kn9eq2seXEmZ+gEJbD17+Z49V38B8y8
					ZuU8IN33rjUvjXCUVGrdfvhT9T9vmYUd9QEg
					83COAsPLK4LtJ7DIY55yHgZXxqDfa5ehE4S8
					/RXhDR9jSFM/b8w10JsWwZi4Y8PgB4aWFJ97
					7rllRkfceRjW6eoyPetZzypxhB+qhCZn6AGC
					Udon/oIXvKAcD537Y651jWkADmluKuxNKOUs
					nupCq3/PCtu/t2z4fvyx/3lvXoVXt1rQsdlo
					aKQ6RgbPnKuvIjaTsU6+pcVQtRjMxMTQx+aR
					cGfsT6XayagvLL3cH4vRonCwSnfQceLpKgSn
					fnwGTQcdAKlytZEFf0PeXBpHYujzmO4Lsa7/
					gNBkswLL620siwWm+2NqyvBhg4C+udbBohoz
					cbbxum7lrGVUoWbOVxPeANsiShnYBuyFlQ7v
					kMY6+azL2vmCGeAao4vChJcT+wtQbn3rWxe5
					xsRdJHv9XJ/aAJqpsa/6qq866M7EmOuwfuOJ
					XMhipYsvvri78Y1vXFqa4bc8nPF1KEMnuOab
					VTxp1vQzxJha66gpysRTeIOKt5yOoYCsYrBA
					xkYBtfqiGnNM2suEga08eZFl8asV0u+UzTL5
					jw2rfHkXxvCSl7yknKFHgWtDq9PCT/g7sW9E
					d7nLXcpjo8XKKuVWx1n2tzTopLfr8HamnWBY
					G8qiNMOjlocKCekLr6tCwkt4kvY555xzsJDI
					/1kUbAx8Pu95zytBtADG6OahDF1hvuMd7yjN
					jSzZ6xs6JcviCowGwFmCrPMeEDUrb3GLWxSD
					ddCj/OcpYD9vFYN18wxNnKERzX7cdfyXJ+U3
					ABiP2cd2TD76fzlya1P444tnNz/+Pd/zPZ2R
					YKSsZ/HsfpSWR9dX1+zH6zr0Q9r0USXtlKAc
					1T2LlyEME95UoOb/VfvrBdZVGdEnZWtqzMGk
					3hsQ3XTtE5lSMZjqdVaiLtMYI5fWe6fYz2HG
					/xQUI9BvBWSUKcFTYAw9xzFlQCMAJuymrsAE
					DqoXdszL330gu1ogo0llGmgsmOuQI9jGC+t+
					ZLpllfRVslokKHjMk3+V9MWBGYyUsxWEpnv0
					jSPLrHQ9w4eR5vvd734liGa/+W58rsqjFqYd
					cs4ngOEd7nCHkqb0opOz+OnfC3/u0+/73ve+
					ZQEW3lRIrquSSpGR5/Ti+9znPgeDfrN4rHlX
					IV500UWlpUI+Lc9Zcfq8rWToGFWzRdhb3vKW
					B6t5UhvJPLW2foSTWyyuoLQKY9WC7Asw9D9e
					3SAH7yx/lJqxHzc8qbmzQIY3xe8YMPvprfIf
					pirQYHfzm9/84Ez5ZXkgj/LQR0VpeqbcVuFv
					Xhz5mOWwxffJT35yWS5MT2A9K79aFvrjhCDG
					aTVjnMasePPyh5fwDEhL6Morr+ye+cxndvBD
					tbHMS6N/n0zSxevZZ5/dXXDBBaVvbNpNi0F+
					Kad+3Fn/E15FpGK0Es4g5t7eXgmevPpxc9/C
					LTNAKlOtJy3WOLJ+nP7/a+/PE/6//s1Z/wEV
					oXgJNa8zzfWx7n3vexcD9jyGnjSApOAorz6c
					ePoVaqK6IOuCT9x1XOVhIz7jxbemPB76vMYo
					5Gne/LGPfWwJS1lXUZJleJd+8FWxGDiy2Md0
					yz3vec+52A7lETxdpQcHB3NQEJ6AMYQSNv9X
					vQZD+VnDoG9rA0ttMHXa8k05mD/Wn/YyDArs
					N52BvzA+KFgFL/ekz/CUr9Fxc/qPecxjuvPP
					P7+sZEweiT9GXukLFx4Nml3/+tcvRuZ8QvzR
					K8+jI4t4VEH4aLkY6H3Sk57U3e1udyu81zzi
					M6Tc4rBgKo7KVEWBxsgi3EmG3gfRfyQxCghI
					ntzgi1E/NdF3f/d3lzeIloDvCVv/JoD4J/YH
					XkxxaNZZrWaCX3rxrsL5JM/wMlaQ5Nm/ig8s
					I+e8NJ5vcIMbFOWQR9LPbwsX1LKWzypYStev
					vPp5jP0fmVxrWRme5iA8PHMklmbwE5/4xDKq
					mvTDa/6PvSoz+FMwCywMMKns5Cs/+NT8uIeW
					zU94rR9p0xEtKBWrsvZMHv00c59RWxXm88pX
					vrLMltA5LUDGQQZhfNyHF+NOv15Xwei9FgFj
					4Hxymo080kyWDvn6fNRY5rnxJw5JPoiDstDH
					PRucrtp3HhbiMHhh+jz6Hx7Fx5s94/RfhcbI
					xYXLLB2LkatIDL494AEPKHjiD86z4shnFp22
					z/jB+30DpIASCRgyovCaVnmR/YUXXtjd6173
					KgsfhA84fvcpgkgDQE94whPK+mjhGBOPD5Tk
					F6Vz5Xlc86yf9pj/AJOHOXHvUXNUlEILkDXv
					lMxUh+WuFEz+h8k7/MmDYVFS6QVf9ykOT5QT
					QozAPvjBDy7768UPfklrmWstm/Qdje2DeFs4
					xFiEDfYUadUuizQY6OX7i5Vud7vbdZdccsmB
					ngTzvgy1jAxWU/7pT3966W4krAqD4eDT9Gk2
					LeX5Pe5xj/IOezMAcE6aBgdVcDx8Xe6JV1+l
					7aN8GCWdkS79SXo24zhKyxoN6dZk7UYqE2NS
					HEfI/W/6pm/q7nznO5dFPPJImgnjmnLgBD33
					kpDzzjuvzB5oWZB9bJM96Z5k6PpwmKN4hvBl
					UpP+zt6+RzRCaMQvg0QYW2QMtUCaLQDkuUx9
					9Ulh8G4KK82jfphl/uNPWoyWp9bluO1tb1uS
					8MwH6BYfGDWmmJ4zvmUBnccXfBiOyg4f+lvy
					rYkC2L1kPIPCoBq3Ouwyv+WT8iET3LVuDFBS
					2pos+UzrIgpbPx/7W548++X7xu5ttY973OOK
					txafsaeiq9OrZdXfZ6D2GdAXfW5emZdVJjwp
					w7dyzeYah3qaRstS18jM6xrVtxJPueJpXmWD
					F/F88GcNhvGlRz/60cWb0vekKyzHZ+UkPq1s
					M53HsKM3ujB4VKFKx8g9HmM3tbzSQ+4h+dMX
					3V3dYzKSTUtpFZ08MHSKQNE1gTTtfBicgteM
					1LczAnxivwmoVkGERlGi8mfgqxbMb8AoQNMg
					CsS+WrW0D8CEAVSamANJL3ykcOPVH/GIR3QP
					echDCuC10llYc/vb377kSfZ1jrbDSHoOVJQ2
					uWAcbLVsdCli4ASqlWqhgAsC9MuKgVNOXh7+
					lorizYdBUSoKGcVbkPzMx/KMsfOyRos5COSZ
					tPtK2+dTazJ6SclVkohnx5+PJjodQbURO3Xl
					8Y9/fHfppZd2j3rUo7oHPvCBZbCuDlMi9b7w
					xdAclWW0nV5oBRodT/ngM3rPQTJulZMPR4lU
					mOSnd3iMrH0Zhe3joeXsXAX5qySksaqRS38f
					n9OLAmoOPOhBDypNVgLwpAzax2+1ewgQtaBh
					PM+HrkBGhKbkPpRA/kDi8VzVZiodfRlNKNMw
					Cn1VUnBaK2p2CmfahdJF2RihBTLA1HLRjxLn
					MAQXcroaKaUomrKwDL4UFcZRAvnBKEq0DLZj
					eI0Sq2x8jHiTGeaUSzkwJtM46T7gZ1U+pKt8
					zRdrqTA6c+eROboEazJHbvf9pp/hdUi+8BiD
					pzOMMxuS6NMYquX0W7o8srEozkhloVuHt/DO
					oDlEnyGSnk+tV0lD+UcHOL9nP/vZpRWkFaBS
					O4yR4+l0/XIGQBEpft4cOsRwzehQuLHPpJdK
					pY6jptTENIhkMO0whq5gyKnC0CSjeGQFIuLd
					1KA87WHyqfn3m2wKU42vZqb0iygFvijcOp7D
					hdfxgXGIgiOGE2XMs7FXaSPGbgReK81MAu+q
					z6kFU8sqn1Dixjjc79/zLPeTjkpKd8EYEo+s
					26CLkrAlwhJfKghlp0tlia/1FcaY9va7sKby
					kLSDFx7zyTPX8O538HSvtiXORfq6GLq2poWl
					ywlFPvFXoeKywkSaRRJaFZhVmOjHSd4MPQDm
					Xj/sMv+BSsYT+90PhcbgkaaW5pktrZrQvFpd
					AMvkMRS29irrkGcor1We1YaW5uc6+IQlj6Q7
					wJmY+mLwZmB0G5KXcPlEJ+Xf/3hG8VVCPn7j
					XZ/Z3LlWE6MxDaWFiJLesriIx9B8pCcfr9I2
					lmPQ0H1hal78x3MMWp7BMfLh2W+kIqF/cNF1
					NC7BIcDFJ+FK4BW/Tqd8vJp5TFNm+kO1Qobp
					RenX4erfi+LVz+t4gOAJeAHjA+vwstLn1Xlt
					S2J5cN0DYwJ2Aml6yUehCHtYkkYKW54qkrzK
					KQUvj1ruVfOs06h/z0uvH8Z/vFIqvzV9tbKC
					x7x0xt6Xropbue7te0NjAtYI6Drw7lYgGljT
					l9UURvjwmUcwVIEYOGYcugU8oeauwVxdkQzO
					zUtjzH08I/qoHLUKv+/7vq98rLcwcEtH9aMZ
					/CK+OS98GwvR6jA4+pSnPKXkoSKUn+eL0ikR
					Rn6dtg/Ku1K4wNo2Mq+qIgLOUKEvwzcFMQpv
					npdyI/lQjnXVoH1+FJ4uSOZz+8+38b/js1X6
					68I9MsKfMes22lOQ02mMjpunPmN/ya6BShVN
					Zl/wQAe0yHhRDsnAoRFvTXOrzIQ1vqJCSStB
					xcH4H/awh3UPfehDlxqM0+KzGk4FbT0AQ8eH
					sjT1yhPnYBOVFiPFuzEFvBiLEV5lmVYBx2LG
					Rdr4yoEdKjppCrdOXQ/mB6PuwMcY8P1G6y7g
					ZDp0rfNmhArNdd28RN7Mt1IgBbLufCKr/GCb
					Qc1azoQ57iueIn+ajfm/bt4iP4OHCe+rFVGT
					NeYn9rtZBizTItAkv2p/UEwzPSSM1gADYSgI
					3/5npmWsoePLR36zDN19JAzdwb8KoObd4J0W
					Mr5VClqRKiWOJXJLw+o6vEtTmE3q37vnJPYz
					BUwKFxPbRJtQtlnybiKf4ChtBemzK7RpPOCg
					IvfR5DVgxzBgpG/N+C0FrjEzAMZj8rBaeilH
					4RnRJnmujTT5shm861PHYHlt3rruAusWmvEx
					6JnKXlwVU/jeJO8Hhr4rytf4nBYCUW7etx44
					0/rRfGcgtRfVuvNh/PqxIekkrdxb5SqN2qDr
					NPrp5z/ew4uKyrgA3mu+hcE3468HvaWRdOq8
					1v27Gfq6EW3prYxArfAMo/bk/UQ3ZSDzjLyf
					f/9/eGfMtSHPCpew/Web/N8MfZPotrQPhcBx
					GMShGH5P5G3k+90jC+uQrqXREGgIbC0CzdC3
					tmgaYw2B9SHQDH19WLaUGgJbi0Az9K0tmsbY
					cSCwjf3rdeDQDH0dKLY0GgJbjkAz9C0voMbe
					0SKw6vTa0XK5fG7N0JfHrMWYMAKt6T7hwm2i
					NQSCQPPoQaJdGwITRqB59AkXbhOtIRAEmkcP
					Eu3aEGgI7BwCbTBu54qsMbxJBFrTfZPotrQb
					AluCQGu6b0lBNDYaAg2B5RFoTfflMWsxTlEE
					dtnbN0M/RZW2iT0bgVl99F028EjZDD1ItOuk
					EZhlwGMEruPVv8fE3aYwzdC3qTQaL2tFoDZM
					BzI6z20R1d7bmW9Oeq0PeVwUf1ufN0Pf1pJp
					fK0FgRiuN5vm9NW6AuhnUj9zNvv1rne9cmx0
					P9yu/W+Gvmsl1vgdjQCjjTd2KivvjGpjHkrM
					0dLOi0cOfdxlaoa+y6XXeC9HM/PaPowxH6fI
					OkPd+9QdGe2lCsjzRYae594U433miedNKjm2
					Ofkk7xJoi7/aKbBbXDiNtcUI6Hd7gQJioPVZ
					6v57R/ojH/nI8uYUYdKU93uIGLK0vBvuzDPP
					LO8lvM1tblOipCIQJobuaOqxaQ/lu6lnB69k
					2lQGLd2GwKYRiLHl5QhepuA1Sd6CctZZZ3UX
					X3xxd8Mb3rAYYox0EU/STNhXvepV5Q2t4mjO
					e7d93q2mohEuYRele1zPm6EfF/It30MjwMi8
					tNLLK2vywkLvbeOJvUJ5mWZ7nQ5j59V5bu9W
					e/WrX12uWglvfOMb66DlJZ3rfhnoSRkc8k8z
					9EMC2KIfPQLxnoz87LPPLu9s03znZXlcH69F
					8ibVhK099DIc1/E0z71Xzcd74bzR1fvTtB5e
					/vKXlzerylPFsG3U+ujbViKNn0EEGB6jdn3L
					W95SXlV87rnnDsbxMAa/MGAvQB1PvkbvfWoy
					QOe1zS972ctKn57x42+bqBn6NpVG42UUArXH
					fPOb39xdccUVJV7u10ZWG+qoxAcCzUrXyyB5
					dF7eKD+j30ZqTfdtLJXG0ygEGLEXGl599dUl
					vP8++tU+WQkXA/Usv5OBe6h/P89dk66KJNNr
					wvu4x9i9h11+Q+nUaR717+bRjxrxlt/aEGBU
					jOs617lOSTNG688mDa6fTyqCTeZ5WNCaoR8W
					wRb/WBHQb87S1uNghJEzcJ6+GfpxlEDL85RA
					gHENvUf9lABhhJBtCewIkFqQhsCuI9AMfddL
					sPHfEBiBQDP0ESC1IA2BXUegGfqul2DjvyEw
					AoFm6CNAakEaAruOQDP0XS/Bxn9DYAQCzdBH
					gNSCNAR2HYFm6Ltego3/hsAIBJqhjwCpBWkI
					7DoCzdB3vQQb/w2BEQg0Qx8BUgvSENh1BJqh
					73oJNv4bAiMQaIY+AqQWpCGw6wg0Q9/1Emz8
					NwRGINAMfQRILUhDYNcRaIa+6yXY+G8IjECg
					GfoIkFqQhsCuI9AMfddLsPHfEBiBQDP0ESC1
					IA2BXUegGfqul2DjvyEwAoFm6CNAakEaAruO
					QDP0XS/Bxn9DYAQCzVDl9ZkAAAB7SURBVNBH
					gNSCNAR2HYFm6Ltego3/hsAIBJqhjwCpBWkI
					7DoCzdB3vQQb/w2BEQg0Qx8BUgvSENh1BJqh
					73oJNv4bAiMQaIY+AqQWpCGw6wjE0N+164I0
					/hsCDYGZCBTbZujv3P+ctv9xoxn8PgiNGgIT
					QCD2zLbf+f8BAAbfsO+yA+oAAAAASUVORK5C
					YII=
					</data>
					<key>LogoFilename</key>
					<string>minfinua 250.png</string>
					<key>LogoUsed</key>
					<true/>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PreviewAfterExportRelativeToBaseURL</key>
					<false/>
					<key>PublishingSettings</key>
					<dict>
						<key>publisher</key>
						<string>FTP</string>
						<key>settings</key>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>passiveMode</key>
							<true/>
							<key>path</key>
							<string></string>
							<key>server</key>
							<string></string>
							<key>type</key>
							<integer>1</integer>
							<key>user</key>
							<string></string>
						</dict>
					</dict>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowTidiedCode</key>
					<false/>
					<key>SloganText</key>
					<string></string>
					<key>SloganUsed</key>
					<false/>
					<key>ThemeName</key>
					<string>Affero</string>
					<key>TitleText</key>
					<string>MinfinUA.app</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UserAgentResizingPreset</key>
					<integer>0</integer>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>WebClipIconUsed</key>
					<false/>
					<key>globalCSS</key>
					<string></string>
					<key>globalHeader</key>
					<string></string>
					<key>globalJavascript</key>
					<string></string>
					<key>globalPrefix</key>
					<string></string>
					<key>hasChangedGlobalCSS</key>
					<true/>
					<key>hasChangedGlobalHeader</key>
					<true/>
					<key>hasChangedGlobalJavascript</key>
					<true/>
					<key>hasChangedGlobalPrefix</key>
					<true/>
					<key>projectNotes</key>
					<string></string>
					<key>putGoogleAnalyticsInHead</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>QuickLook</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
